.cards-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card-valorant {
    width: 180px;
    height: 300px;
    border-radius: 6px;
    background: rgba(19, 12, 12, 0.6);
}

.imagem-agente {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

